<!DOCTYPE html>
{% load static %}
<html> 

<head>
    
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="icon/png" href="{% static 'images/logo.png'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css'%}">
    {% block head %}
    {% endblock %}

</head>

<body>

    <header>
         <div class="nav">
         
        <ul class="nav-ul"> 
            <li><a href="/">Home</a></li>
            <li><a href="/menu">Menu</a></li>
            {% if user.is_authenticated %}
                <li><a href="/contact">Place order</a></li>
                <li><a href="/logout">Logout</a><li>
            {% else %}
                <li><a href="/accounts/register">Register</a></li>
                <li><a href="/login">Login</a><li>
            {% endif %}
        </ul>
    
    </div>

    </header>
    <br>
    <br>
    {% block content %}{% endblock %}
</body>

</html>